header, footer {color: black;
}

nav a {color: black ;
    text-decoration: none;
}

body{
    background-color: #faf5ee ;
    color: #2f2a25 ;

}
h1, h2, h3 {color: #8a5a2e ;
    text-decoration: none;
}

